# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
.env
dist/
.DS_Store

VITE_FIREBASE_API_KEY="AIzaSyD1mSv6-6kDzqGXVMINYg3Hp1Fs7u_dfQI"
VITE_FIREBASE_AUTH_DOMAIN="we-talk-8f786.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="we-talk-8f786"
VITE_FIREBASE_STORAGE_BUCKET="we-talk-8f786.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1050078655680"
VITE_FIREBASE_APP_ID="1:1050078655680:web:b8e7dbbbfa26ceb64fa925"